<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <seo>
            <twitter_card>
                <type>summary</type>
            </twitter_card>
            <hreflang>
                <same_website_only>0</same_website_only>
            </hreflang>
            <html_sitemap>
                <category>
                    <url_key>sitemap/category</url_key>
                </category>
            </html_sitemap>
        </seo>
    </default>
</config>
