<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Web200\Seo\Api\Data\PropertyInterface" type="Web200\Seo\Model\Property" />
    <preference for="Web200\Seo\Api\Data\AdapterInterface" type="Web200\Seo\Model\Adapter" />
    <type name="Web200\Seo\Model\Adapter">
        <arguments>
            <argument name="adapters" xsi:type="array">
                <item name="product_entity_container" xsi:type="object">\Web200\Seo\Model\Adapter\Product</item>
                <item name="category_entity_container" xsi:type="object">\Web200\Seo\Model\Adapter\Category</item>
                <item name="page_entity_container" xsi:type="object">\Web200\Seo\Model\Adapter\Page</item>
            </argument>
        </arguments>
    </type>
    <type name="Web200\Seo\Service\HrefLang\AlternativeUrlService">
        <arguments>
            <argument name="cmsPageUrlRetriever" xsi:type="object">\Web200\Seo\Service\HrefLang\CmsPageUrlRetriever</argument>
            <argument name="categoryUrlRetriever" xsi:type="object">\Web200\Seo\Service\HrefLang\CategoryUrlRetriever</argument>
            <argument name="productUrlRetriever" xsi:type="object">\Web200\Seo\Service\HrefLang\ProductUrlRetriever</argument>
            <argument name="request" xsi:type="object">Magento\Framework\App\Request\Http</argument>
        </arguments>
    </type>
     <type name="Web200\Seo\Service\Robots\MetaRobots">
        <arguments>
            <argument name="cmsMetaRobots" xsi:type="object">\Web200\Seo\Service\Robots\CmsMetaRobots</argument>
            <argument name="productMetaRobots" xsi:type="object">\Web200\Seo\Service\Robots\ProductMetaRobots</argument>
            <argument name="cmsIndexMetaRobots" xsi:type="object">\Web200\Seo\Service\Robots\CmsIndexMetaRobots</argument>
        </arguments>
    </type>
    <!-- Remove schema Offer -->
    <type name="Magento\Framework\Pricing\Render\PriceBox">
        <plugin sortOrder="1" name="web200_seo_remove_schema_offer" type="Web200\Seo\Plugin\RemoveSchemaOffer"/>
    </type>
    <!-- Generate canonical without categories in url -->
    <type name="Magento\Sitemap\Model\ItemProvider\Product">
        <plugin name="web200_seo_add_canonical_in_sitemap" type="Web200\Seo\Plugin\AddCanonicalInSitemap"/>
    </type>
    <type name="Magento\Catalog\Helper\Product\View">
        <plugin name="display_canonical_preference_product_store"
                type="Web200\Seo\Plugin\DisplayCanonicalPreferenceProductStore"/>
    </type>
</config>
