<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Web200\Seo\Api\CmsPageUrlRetrieverInterface" type="Web200\Seo\Service\HrefLang\CmsPageUrlRetriever" />
    <preference for="Web200\Seo\Api\CategoryUrlRetrieverInterface" type="Web200\Seo\Service\HrefLang\CategoryUrlRetriever" />
    <preference for="Web200\Seo\Api\ProductUrlRetrieverInterface" type="Web200\Seo\Service\HrefLang\ProductUrlRetriever" />
    <preference for="Web200\Seo\Api\ProductMetaRobotsInterface" type="Web200\Seo\Service\Robots\ProductMetaRobots" />
    <preference for="Web200\Seo\Api\CmsMetaRobotsInterface" type="Web200\Seo\Service\Robots\CmsMetaRobots" />
    <preference for="Web200\Seo\Api\CmsIndexMetaRobotsInterface" type="Web200\Seo\Service\Robots\CmsIndexMetaRobots" />
    <type name="Magento\Framework\View\Page\Config">
        <plugin name="w200_seo_page_config" type="Web200\Seo\Plugin\PageConfigPlugin" />
    </type>
    <type name="Magento\Framework\App\Route\Config">
        <plugin name="w200_seo_route_config" type="Web200\Seo\Plugin\RouteConfigPlugin" />
    </type>
    <!-- Add sitemap route -->
    <type name="Magento\Framework\App\RouterList">
        <arguments>
            <argument name="routerList" xsi:type="array">
                <item name="html_sitemap" xsi:type="array">
                    <item name="class" xsi:type="string">Web200\Seo\Controller\Sitemap\Router</item>
                    <item name="disable" xsi:type="boolean">false</item>
                    <item name="sortOrder" xsi:type="string">60</item>
                </item>
            </argument>
        </arguments>
    </type>
    <!-- Add category seo canonical rel[prev/next] -->
    <type name="Magento\Catalog\Controller\Category\View">
        <plugin name="web200_seo_add_category_canonical" type="Web200\Seo\Plugin\AddCategoryCanonical"/>
    </type>
    <!-- Add canonical in cms page -->
    <type name="Magento\Cms\Controller\Page\View">
        <plugin name="web200_seo_add_cms_canonical" type="Web200\Seo\Plugin\AddCmsCanonical"/>
    </type>
    <!-- Add canonical and meta robots in cms page -->
    <type name="Magento\Cms\Controller\Index\Index">
        <plugin name="web200_seo_add_cms_canonical" type="Web200\Seo\Plugin\AddCmsCanonical"/>
        <plugin name="web200_seo_add_cms_index_meta_robots" type="Web200\Seo\Plugin\MetaRobots\CmsIndex"/>
    </type>
    <!-- Add meta robots in cms page -->
    <type name="Magento\Cms\Controller\Page\View">
        <plugin name="web200_seo_add_cms_meta_robots" type="Web200\Seo\Plugin\MetaRobots\Cms"/>
    </type>
    <!-- Add meta robots in product page -->
    <type name="Magento\Catalog\Controller\Product\View">
        <plugin name="web200_seo_add_product_meta_robots" type="Web200\Seo\Plugin\MetaRobots\Product"/>
    </type>
    <!-- Add meta robots in category page -->
    <type name="Magento\Catalog\Controller\Category\View">
        <plugin name="web200_seo_add_category_meta_robots" type="Web200\Seo\Plugin\MetaRobots\Category"/>
    </type>
</config>
